<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/backend/book/find}">
	Name:
	<input type="text" name="name" placeholder="Name" />
	<input type="submit" value="Find" />
</form>
<table>
	<tr>
		<td>ID</td>
		<td>Name</td>
		<td>Price</td>
		<td>Quantity</td>
		<td>Status</td>
		<td>PublishingYear</td>
		<td>&nbsp;</td>
	</tr>
	<tr th:each="item: ${books}">
		<td th:text="${item.id}"></td>
		<td th:text="${item.name}"></td>
		<td th:text="${item.price}"></td>
		<td th:text="${item.quantity}"></td>
		<td th:text="${item.status}"></td>
		<td th:text="${item.publishingYear}"></td>
		<td>
			<a th:href="@{'/backend/book/edit/' + ${item.id}}">Edit</a>
			<a th:href="@{'/backend/book/delete/' + ${item.id}}">Delete</a>
		</td>
	</tr>
</table>
</body>
</html>